<p style="color: green"><%= notice %></p>

<h1>Departments</h1>

<body id="departments" style="background: black; color: chartreuse" >
<%= form_with(url: departments_path, method: :get) do |form| %>
  <%= form.text_field :query, placeholder: 'Search departments' %>
  <%= form.submit 'Search' %>
<% end %>

<div id="departments">
  <% @departments.each do |department| %>
    <%= render department %>
    <p>
      <%= link_to "Show this department", department %>
    </p>
  <% end %>
</div>

<%= will_paginate @departments %>

<p>
  <%= link_to 'New department', new_department_path %>
</p>

<p>
  Sort by:
  <%= link_to 'Name (asc)', { sort_field: 'name', sort_direction: 'asc' } %>
  <%= link_to 'Name (desc)', { sort_field: 'name', sort_direction: 'desc' } %>
  <%= link_to 'Created at (asc)', { sort_field: 'created_at', sort_direction: 'asc' } %>
  <%= link_to 'Created at (desc)', { sort_field: 'created_at', sort_direction: 'desc' } %>
</p>

</body>




