<p style="color: chartreuse"><%= notice %></p>
<body id="departments" style="background: black; color: chartreuse" >
<%= render @department %>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>

  <%= button_to "Destroy this department", @department, method: :delete %>
</div>
</body>
